/bin/

*.tokens

*.class

*.interp

antlr/src/

antlr/stringtemplate/

antlr/antlr4_src\.zip

antlr/src\.zip

/target/*


TypesBaseListener.java
TypesBaseVisitor.java
TypesListener.java
TypesVisitor.java

PotatoesBaseListener.java
PotatoesBaseVisitor.java
PotatoesListener.java
PotatoesVisitor.java

*Lexer.java
*Parser.java
src/test
